<md-toolbar color="primary">
     RxJS learning, searching stock name!
</md-toolbar>

<section>
  <md-input-container>
    <input mdInput placeholder="Nasdaq Script Search" value="{{scriptName}}" [(ngModel)]="scriptName" (ngModelChange)="changeInScriptName(scriptName)"/>
  </md-input-container>
  <button id="reset-button" md-button>Reset</button>
  Max input {{inputCount}}
  
</section>
<div *ngFor="let script of scripts | async">
  {{script}}
</div>


<section>
  <div>
<span style="font-size: 50px;"> test</span>
  <span style="font-size: 20px;"> test</span>
  <span style="font-size: 10px;"> test</span>
  <span style="font-size: 5px;"> test</span>
  <span style="font-size: 15px;"> test</span>
  <span style="font-size: 28px;"> test</span>
  <span style="font-size: 32px;"> test</span>
  <span style="font-size: 30px;"> test</span>

</div>

</section>
